<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
   TODO REDUX  {{ title }}!
  </h1>
</div>
<ul class="todo-list">
  <li *ngFor="let todo of todos;let idx = index">
    <div class="todo-item">
      {{idx}}<span><input id="todo.id" type="checkbox" name="isSelected" (change)="onCheck($event,todo.id)"></span>
      <p (click)="onClick(todo)">{{todo.message}}</p>
    </div>
  </li>
  <div class="todo-item">
      <span style="width: 20px;text-align: center;">{{count | async}}</span>
      <p style='background:#3ea93f;'>selected TODOS</p>
  </div>
  <p>:{{mcheckbox | async}}</p>
</ul>
<button (click)="onClickButton()">Effect markAll/unmark</button>