.todo-list{
  width: 500px;
  list-style: none;
}
.todo-item{
  display: flex;
  padding: 10px;

  justify-content:flex-start;
  align-items:center;
}
p{
  padding-left: 10px;
  width: 100%;
  background: #2196f3;
  margin: 0;
  height: 20px;
}

h1{
  padding-bottom: 25px;
}
.left{
  float: left;
}
.right{
  float: left;
  padding-left: 10px;
  margin-top: -41px;
}

.wrapper{
  display: block;
  clear: both;
  height: 300px;
}